.bank-sampah-container {
  padding: 40px;
  background-color: #00aaff;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: yellow;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

form input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input[type="date"] {
  font-size: 16px;
}

button {
  background-color: green;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkgreen;
}

table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: orange;
  color: white;
  font-size: 16px;
}

td {
  background-color: #f9f9f9;
  font-size: 14px;
}

table tr:nth-child(even) {
  background-color: #e6e6e6;
}

table tr:hover {
  background-color: #f1f1f1;
}

button {
  width: auto;
  margin: 10px;
  padding: 10px 20px;
}

button.red {
  background-color: red;
}

button.yellow {
  background-color: yellow;
}